build/*
log/*
dist/*
out/*
log/*
war/WEB-INF/classes/*
.idea/*
*.hprof
*hs_err_pid*
*~
peergos/crypto/RootCertificate.java
peergos/crypto/DirectoryCertificates.java
peergos/crypto/CoreCertificates.java
