{% extends "base.html" %}
{% set active_page = "index" %}
{% set content_layout = "wide" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>
    Secure messaging for apps
  </h1>
  <div class="container-description">
    <div class="container" id="description">
      <p>
        Tools, libraries and services for secure cloud &amp; on-premise user and group messaging. Saves time. Scales up. Supports you.
      </p>
      <div>
        <a href="http://buddycloud.com/enterprise" class="btn btn-primary btn-lg" role="button">
          Enterprise
        </a>
        <a href="http://buddycloud.com/developers" class="btn btn-lg" role="button">
          Developers
        </a>
      </div>
    </div>
  </div>
</div>
<div class="background">
  <div class="container">
    <div class="hidden-xs hidden-sm" style="display:table; width: 100%;">
      <div style="display:table-row;">
        <div class="text-center" style="display:table-cell; width:33%; padding-right:15px;">
          <h2>
            Add community to your app.
          </h2>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; padding-right:15px; padding-left:15px;">
          <h2>
            Plug into millions of users.
          </h2>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; padding-left:15px;">
          <h2>
            Build different.
          </h2>
        </div>
      </div>
      <div style="display:table-row;">
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom; padding-right:15px;">
          <figure>
            <img src="/theme/img/diagrams/Community.png" alt="community-diagram" class="center-block" 
            style="padding-top:20px; padding-bottom:20px; width:50%; height:50%;">
          </figure>
          <p class="text-center">
            Imagine all your users communicating with each other. Rich conversations, deep user engagement. Your app 
            becomes more sticky.
          </p>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom; padding-right:15px; padding-left:15px;">
          <figure>
            <img src="/theme/img/diagrams/federation-mini.png" alt="federation-diagram" class="center-block" 
            style="padding-top:20px; padding-bottom:20px; width:50%; height:50%;">
          </figure>
          <p class="text-center">
            Your community can now chat, share photos and videos inside your app. But ALSO with other users in other apps 
            (just like your emails flow between sites).
          </p>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom; padding-left:15px;">
          <figure>
            <img src="/theme/img/diagrams/open-source.png" alt="open-source-diagram" class="center-block" 
            style="padding-top:20px; padding-bottom:20px; width:50%; height:50%;">
          </figure>
          <p class="text-center">
            An ecosystem of developers, thinkers and makers working to redefine how the world builds communication 
            software using open protocols.
          </p>
        </div>
      </div>
  </div>
  <div class="hidden-md hidden-lg row">
    <h2 class="text-center">
      Add community to your app.
    </h2>
    <figure>
      <img src="/theme/img/diagrams/Community.png" alt="community-diagram" class="center-block" 
      style="padding-top: 20px; padding-bottom: 20px;">
    </figure>
    <p class="text-center">
      Imagine all your users communicating with each other. Rich conversations, deep user engagement. Your app 
      becomes more sticky.
    </p>
  </div>
  <div class="hidden-md hidden-lg row">
    <h2 class="text-center">
      Plug into millions of users.
    </h2>
    <figure>
      <img src="/theme/img/diagrams/federation-mini.png" alt="federation-diagram" class="center-block" 
      style="padding-top: 20px; padding-bottom: 20px;">
    </figure>
    <p class="text-center">
      Your community can now chat, share photos and videos inside your app. But ALSO with other users in other apps 
      (just like your emails flow between sites).
    </p>
  </div>
  <div class="hidden-md hidden-lg row">
    <h2 class="text-center">
      Build different.
    </h2>
    <figure>
      <img src="/theme/img/diagrams/open-source.png" alt="open-source-diagram" class="center-block" 
      style="padding-top: 20px; padding-bottom: 20px;">
    </figure>
    <p class="text-center">
      An ecosystem of developers, thinkers and makers working to redefine how the world builds communication software 
      using open protocols.
    </p>
  </div>
  <br>
  <div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
      <a class="btn btn-md btn-default center-block" href="/how-buddycloud-works">
        How Buddycloud Works
      </a>
    </div>
    <div class="col-md-4 column">
    </div>
    <div class="row">
      <div class="col-md-12 column">
      </div>
    </div>
  </div>
  </div>
</div>
<br>
<div class="background-friends">
  <div class="container" style="margin-bottom: 30px;">
    <div class="hidden-xs hidden-sm" style="display:table; width: 100%;">
      <div style="display:table-row;">
        <div class="text-center" style="display:table-cell; width:50%; padding-right:25px; padding-left:35px;">
          <h2>
            Enterprise Solutions
          </h2>
        </div>
        <div class="text-center" style="display:table-cell; width:50%; padding-right:25px; padding-left:35px;">
          <h2>
            API for App Developers
          </h2>
        </div>
      </div>
      <div style="display:table-row;">
        <div class="text-center" style="display:table-cell; width:50%; vertical-align:top; padding-right:45px; padding-left:45px;">
          <p class="text-center">
            <span style="vertical-align:top;">
            Get a dedicated Enterprise solution tailored to your industry's specific need.
            </span>
          </p>
          <br>
          <a class="btn btn" href="/enterprise" style="margin-bottom: 30px; vertical-align:bottom;">
            Learn more
          </a>
          <a class="btn btn-primary" href="/contact" style="margin-bottom: 30px; vertical-align:bottom;">
            Contact us
          </a>          
        </div>
        <div class="text-center" style="display:table-cell; width:50%; vertical-align:top; padding-right:45px; padding-left:45px;">
          <p class="text-center">
            <span style="vertical-align:top;">
            Easily to integrate API solution to include secure messaging in your app.
            </span>
          </p>
          <br>
          <a class="btn btn" href="/developers" style="margin-bottom: 30px; vertical-align:bottom;">
            Learn more
          </a>
          <a class="btn btn-primary" href="/try-buddycloud" style="margin-bottom: 30px; vertical-align:bottom;">
            Try Buddycloud
          </a>
        </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg row text-center" style="margin-bottom: 30px;">
      <h2 class="text-center">
        Enterprise Solutions
      </h2>
      <p class="text-center">
        Get a dedicated Enterprise solution tailored to your industry's specific need.
      </p>
      <a class="btn btn" href="/enterprise" style="margin-bottom: 30px; vertical-align:bottom;">
        Learn more
      </a>
      <a class="btn btn-primary" href="/contact" style="margin-bottom: 30px; vertical-align:bottom;">
        Contact us
      </a>    
    </div>
    <div class="hidden-md hidden-lg row text-center" style="margin-bottom: 30px;">
      <h2 class="text-center">
        API for App Developers
      </h2>
      <p class="text-center">
        Easily to integrate API solution to include secure messaging in your app.
      </p>
      <a class="btn btn" href="/developers" style="margin-bottom: 30px; vertical-align:bottom;">
        Learn more
      </a>
      <a class="btn btn-primary" href="/try-buddycloud" style="margin-bottom: 30px; vertical-align:bottom;">
        Try Buddycloud
      </a>
    </div>
  </div>
</div>
<br>
<div class="background">
  <div class="container" style="margin-bottom: 30px;">
    <h2>
      Projects Built with Buddycloud
    </h2>
    <br>
    <div class="hidden-xs hidden-sm" style="display:table; width: 100%;">
      <div style="display:table-row;">
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
          <figure class="credits">
            <a href="https://mozillalabs.com/en-US/Buddycloud/">
              <img class="img-responsive" src="/theme/img/case-studies/mozilla.jpg" alt="Mozilla">
            </a>
            <figcaption>
              <a href="https://mozilla.org">
                Mozilla
              </a>
              "Mozilla &amp; Buddycloud: Joining the 
              <a href="https://mozillalabs.com/en-US/Buddycloud/">
                WebFWD
              </a>
              program and integrating the Buddycloud features into Firefox OS".
            </figcaption>
          </figure>
        </div>
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
          <figure class="credits">
            <a href="http://buddycloud.com/project-isizwe-case-study">
              <img class="img-responsive" src="/theme/img/case-studies/project-isizwe.jpg" alt="Project Isizwe">
            </a>
            <figcaption>
              <a href="http://buddycloud.com/project-isizwe-case-study">
                Project Isizwe
              </a>
              "10 days to enable 500 000 users. Buddycloud's ready-made components enabled a quick time to market".
            </figcaption>
          </figure>
        </div>
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
          <figure class="credits">
            <a href="http://buddycloud.com/surevine-case-study">
              <img class="img-responsive" src="/theme/img/case-studies/surevine.jpg" alt="Surevine">
            </a>
            <figcaption>
              <a href="http://buddycloud.com/surevine-case-study">
                Surevine
              </a>
              "Surevine have developed secure and reliable communication tools using Buddycloud".
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg row" style="padding-top: 5px; padding-bottom: 5px;">
      <figure class="credits">
        <a href="https://mozillalabs.com/en-US/Buddycloud/">
          <img class="img-responsive" src="/theme/img/case-studies/mozilla.jpg" alt="Mozilla">
        </a>
        <figcaption>
          <a href="https://mozillalabs.com/en-US/Buddycloud/">
            Mozilla
          </a>
          "Buddycloud features integration for Firefox OS".
        </figcaption>
      </figure>
    </div>
    <div class="hidden-md hidden-lg row" style="padding-top: 5px; padding-bottom: 5px;">
      <figure class="credits">
        <a href="http://buddycloud.com/project-isizwe-case-study">
          <img class="img-responsive" src="/theme/img/case-studies/project-isizwe.jpg" alt="Project Isizwe">
        </a>
        <figcaption>
          <a href="http://buddycloud.com/project-isizwe-case-study">
            Project Isizwe
          </a>
          "10 days to enable 500 000 users. Buddycloud's ready-made components enabled a quick time to market".
        </figcaption>
      </figure>
    </div>
    <div class="hidden-md hidden-lg row" style="padding-top: 5px; padding-bottom: 5px;">
      <figure class="credits">
        <a href="http://buddycloud.com/surevine-case-study">
          <img class="img-responsive" src="/theme/img/case-studies/surevine.jpg" alt="Surevine">
        </a>
        <figcaption>
          <a href="http://buddycloud.com/surevine-case-study">
            Surevine
          </a>
          "Surevine have developed secure and reliable communication tools using Buddycloud".
        </figcaption>
      </figure>
    </div>
    <div class="hidden-xs hidden-sm" style="display:table; width:100%;">
      <div style="display:table-row;">
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
          <figure class="credits">
            <a href="https://buddycloud.org/">
              <img class="img-responsive" src="/theme/img/case-studies/angular-app.png" alt="Buddycloud Demo">
            </a>
            <figcaption>
              <a href="https://buddycloud.org/">
                Buddycloud Demo
              </a>
              "Buddycloud demo built with AngularJS and xmpp-ftw".
            </figcaption>
          </figure>
        </div>
        <div style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
          <figure class="credits">
            <a href="https://xmpp-ftw.jit.su/manual/extensions/buddycloud/">
              <img class="img-responsive" src="/theme/img/case-studies/xmpp-ftw.jpg" alt="XMPP-FTW">
            </a>
            <figcaption>
              <a href="https://xmpp-ftw.jit.su/manual/extensions/buddycloud/">
                XMPP-FTW
              </a>
              "Realtime Buddycloud delivered to a websocket near you".
            </figcaption>
          </figure>
        </div>
        <div class="text-center" style="display:table-cell; width:33%; vertical-align:bottom; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
        </div>
      </div>
    </div>
    <div class="hidden-md hidden-lg row" style="padding-top: 5px; padding-bottom: 5px;">
      <figure class="credits">
        <a href="https://buddycloud.org/">
          <img class="img-responsive" src="/theme/img/case-studies/angular-app.png" alt="Buddycloud Demo">
        </a>
        <figcaption>
          <a href="https://buddycloud.org/">
            Buddycloud Demo
          </a>
          "Buddycloud demo built with AngularJS and xmpp-ftw".
        </figcaption>
      </figure>
    </div>
    <div class="hidden-md hidden-lg row" style="padding-top: 5px; padding-bottom: 5px;">
      <figure class="credits">
        <a href="https://xmpp-ftw.jit.su/manual/extensions/buddycloud/">
          <img class="img-responsive" src="/theme/img/case-studies/xmpp-ftw.jpg" alt="XMPP-FTW">
        </a>
        <figcaption>
          <a href="https://xmpp-ftw.jit.su/manual/extensions/buddycloud/">
            XMPP-FTW
          </a>
          "Realtime Buddycloud delivered to a websocket near you".
        </figcaption>
      </figure>
    </div>
    <div class="hidden-md hidden-lg row" style="padding-top: 5px; padding-bottom: 5px;">
    </div>
  </div>
  <div class="background-testimonials">
    <div class="container">
      <blockquote>
        <p>
          "It's clear that Buddycloud has been and continues to be on the vanguard of the &quot;open social web&quot; movement through
          its thought leadership on social web and open source technologies and the commercial application of these 
          technologies in industry."
        </p>
        <footer>
          <cite>
            Daniel Appelquist (
            <a href="https://twitter.com/torgo">
              @torgo
            </a>
            )
          </cite>
          , founder of the 
          <a href="http://overtheair.org/blog/">
            Over the Air
          </a>
          event series and
          co-chair of the 
          <a href="http://www.w3.org/2001/tag/">
            W3C Technical Architecture Group
          </a>
          .
        </footer>
      </blockquote>
      <blockquote>
        <p>
          "Buddycloud solves a large number of problems for a large number of developers."
        </p>
        <footer>
          <cite>
            <a href="https://twitter.com/lloydwatkin">
              @lloydwatkin
            </a>
          </cite>
          , Software Engineer at 
          <a href="/surevine-case-study">
            Surevine
          </a>
        </footer>
      </blockquote>
      <blockquote>
        <p>
          "Buddycloud appeals to developers that need an open messaging stack without lock-in..."
        </p>
        <footer>
          <cite>
            <a href="https://twitter.com/jamesbody/status/560469442820603904">
              @jamesbody
            </a>
          </cite>
          , Head of Research and Development at 
          <a href="http://www.truphone.com/">
            Truphone
          </a>
        </footer>
      </blockquote>
    </div>
  </div>
  {% endblock content %}
  
