body, html {
    font-family: 'Montserrat', Sans-Serif;
    color: #2c3e50;
    
}

nav {
    padding: 10px;
    color: #2c3e50;
    background-color: white;
    box-shadow: none;
}

a {
    color: #26b99a;
}

h1 {
    margin: 0;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

nav ul a {
    color: #2c3e50;
}

nav a {
    color: #2c3e50;
}

.main-title {
    color: #26b99a;
}

.btn-blue {
    background-color: #2c3e50;
}

.btn-blue:hover {
    background-color: #425365;
}

.hero {
    text-align: center;
    width: 100%;
    padding: 30px 30px 0px 30px;
    position: relative;
}

@media (min-width: 1400px) {
    .hero {
        height: 600px;
        background-size: 60%;
    }
}

@media (max-width: 700px) {
    .hero .title-text {
	position: static;
	left: 0%;
	top: 0%;
	transform: none;
    }
}

@media (min-width: 700px) {
    .hero-image {
        background: url("../img/peergos/logo-main.svg") center top;
	background-repeat: no-repeat;
	background-size: 40%;
	height: 40%;
    }

    .hero .title-text {
    }
}

.hero h3 {
    font-size: 1.6em;
    font-weight: bolder;
}

.hero p {
    font-size: 1.3em;
    color: #26b99a;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

footer.page-footer {
    background-color: #2c3e50;
}

footer a {
    color: #26b99a !important;
}

.center-align {
    text-align: center;
}

.home-features {
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}

.home-features .col {
    padding: 30px;
}

.home-features a {
    color: #26b99a;
}

.home-features h4 {
    font-size: 1.3em;
    color: #26b99a;
}

.get-it {
    padding: 1.5em 0;
    background-color: #26b99a;
    color: #2c3e50;
}

.get-it h4 {
    font-size: 1.4em;
    font-weight: bolder;
}

.get-it h5 {
    font-size: 1.3em;
    padding-bottom: 20px;
}

.get-it input[type=text] {
    background-color: #209e84;
    padding: 5px 10px;
    color: #2c3e50;
    border: none;
    border-radius: 4px;
}

@media (max-width: 700px) {
    .row .col.s8 {
	width: 100%;
	text-align: center;
    }
}

.feature-dark {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    width: 100%;
}

.feature-dark input[type=text] {
    background-color: #209e84;
    padding: 5px 10px;
    color: #2c3e50;
    border: none;
    border-radius: 4px;
}

.feature-dark .col {
    padding: 30px;
}
@media (max-width: 700px) {
    .feature-dark .col {
	width: 100%;
	text-align: center;
    }
}

.feature-dark a {
    color: #26b99a;
}

.feature-dark h2 {
    font-size: 3em;
    color: #26b99a;
}

.feature-dark p {
    font-size: 1.3em;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.feature-light {
    text-align: center;
    color: #2c3e50;
    background-color: white;
    width: 100%;
}

.feature-light input[type=text] {
    background-color: #209e84;
    padding: 5px 10px;
    color: #2c3e50;
    border: none;
    border-radius: 4px;
}

.feature-light .col {
    padding: 30px;
}

.feature-light a {
    color: #26b99a;
}

.feature-light h2 {
    font-size: 3em;
}

.feature-light h2 bottom {
	text-align: right;
}

@media (max-width: 700px) {
    .feature-light .bottom {
	display: none;
    }
    .feature-light .top {
	width: 100%;
    }
}

.feature-light top h2 {
    text-align: right;
}

@media (min-width: 700px) {
    .feature-light .top {
	display: none;
    }
}

.feature-dark ul {
  list-style-type: circle;
}

.feature-dark ul li {
    padding: 10px;
    text-align: left;
    font-size: 1.3em;
}

.feature-light p {
    text-align: center;
    font-size: 1.3em;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.side-nav {
    background-color: #209e84;
    color: #2c3e50;
}

.side-nav .side-nav-header {
    background-color: #2c3e50;
    height: 200px;
}

.side-nav a {
    color: #2c3e50;
}

.footer-logo {
    padding-top: 40px !important;
}

.footer-copyright {
    width: 100%;
    text-align: center;
}

#particles {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90%;
}
