.background-features {
  background-color: #2DAEBF;
}

#features {
  color: #fff;
  font-weight: 400;
  padding-bottom: 2em;
}

#features h2 {
  font-weight: 600;
  border: none;
  margin: 1em 0 .5em 0;
}

#features p {
  font-weight: 400;
}

#features p a {
  color: #fff;
  font-weight: 600;
}
