
.modal:nth-of-type(even) {
        z-index: 1040 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1042 !important;
}

.form-change-password {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
}

.form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
}



.form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
}

.form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
}

h2{
    text-align: center;
}
