name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml dist
    - name: GWT build
      run: ant -noinput -buildfile build.xml gwtc
    - name: Run tests
      run: ant -noinput -buildfile build.xml test
    - name: Reproducible build
      run: ./reproducible-test.sh